#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#myCarousel{
    background-color: red;
}

#myCarousel img{
    height: 300px;
    margin-top: 35px;
}

.carousel-content p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#myCarousel2{
    background-color: cyan;
}

#myCarousel2 img{
    height: 300px;
    margin-top: 35px;
}